body {
  display: flex;

  menu {
    flex: 0 0 200px;
    padding: 0;
    display: block;
    font-family: SegoeUI, 'Segoe UI', Arial, sans-serif;

    ul {margin: 0 0 0 15px}
    a {text-decoration: none}

    >ul>li>a {font-size: 150%}
    >ul>li>ul>li>ul {font-size: 80%}

  }

  main {
    flex: 1 1 0;
    display: block;
    overflow-y: scroll;
    float: right;
    height: 100%;

    pre {
      background: #f7f7f7;
      border-radius: 20px;
      padding: 10px 0 20px;
    }
  }
}

//Reset
li {list-style: none}
ul{padding: 0}