<div class="content-wraper">
    <section class="builds">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="page-title">Builds</h3>
					<?js= render.renderTemplate('builds-overview') ?>
					<?js= render.renderTemplate('builds-downloads') ?>
					<?js= render.renderTemplate('builds-compatability') ?>
					<?js= render.renderTemplate('builds-dependencies') ?>
					<?js= render.renderTemplate('builds-license') ?>
				</div>
			</div>
		</div>
	</section>
</div>