<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?js= this.urls.index ?>"><img src="assets/img/logo<?js= file_name === 'index.html' ? '_home' : '' ?>.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center">
				<?js for (var key in this.data.pages) { ?>
					<?js var page = this.data.pages[key]; ?>				
					<?js if (page.first && page.navbar) { ?>
							<li><a href="<?js= page.url ?>"><?js= page.title ?></a></li>
					<?js } ?>
				<?js } ?>
				<li>
					<a href="<?js= this.config.singleTutorials ? this.urls.tutorials : this.data.tutorials.children[0].link ?>">Guides</a>
				</li>
				<!--
				<?js if (this.data.members.modules.length) { ?>			
	                <li>
	                    <a href="<?js= this.config.singleModules ? this.urls.modules : this.data.members.modules[0].link ?>">Reference</a>
	                </li>
	            <?js } ?>
	            -->	            
				<?js for (var key in this.data.pages) { ?>
					<?js var page = this.data.pages[key]; ?>
					<?js if (!page.first && page.navbar) { ?>
						<li>
							<a href="<?js= page.url ?>"><?js= page.title ?></a>
						</li>
					<?js } ?>
				<?js } ?>
            </ul>
            <a class="btn btn-default pull-right btn-outline  <?js= file_name === 'index.html' ? 'grey' : 'brown' ?>" href="https://github.com/betajs">Fork us</a>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
