<section class="why-use">
    <div class="container">
        <h1 class="sub-heading">How <span class="beta">Beta</span><span class="js">JS</span> Is Structured</h1>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
				<div class="table-responsive">
					<table class="table">
					    <tbody>
					    	<?js this.custom.pkg.meta.frameworks.forEach(function (framework) { ?>
					        <tr>
					            <td class="td-highlight brown"><?js= framework ?></td>
					            <td><?js= this.custom.frameworks[framework].description ?></td>
					        </tr>
					        <?js }, this) ?>
					    </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>