<h3>betajs-dynamics</h3>
<p>
	Dynamics is a dynamic DOM templating engine. It encapsulates the JS controllers in classes and automatically updates its templates. It is built with scalability and flexibility in mind, and plays hand in hand with all other BetaJS modules, including Data. 
</p>
<div class="content-box" style="overflow:hidden">
	<iframe width="100%" height="290px" src="http://jsfiddle.net/betajs/akgoajwe/1/embedded/html,js,result/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
</div>