<section class="newsletter">
    <div class="container">
        <div class="row newsletter-content">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Follow us on GitHub to see what we have in store.</h4>
                    <div class='row row-centered'>
                        <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                            <div class='news_letter_formwrap'>
                                <form>
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                        <!--
                                            <input type="text" class='form-control email_input' placeholder='Enter Email Address'>
                                            <input class='btn btn-md btn-betadark' value='Sign Up'>
                                            -->
                                            <iframe src="https://ghbtns.com/github-btn.html?user=betajs&type=follow&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</section>
