<section class="why-use">
    <div class="container">
        <h1 class="sub-heading">How <span class="beta">Beta</span><span class="js">JS</span> Works</h1>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="why-use-content">
                	<?js= render.renderTemplate('main-example-1') ?>
                </div>
            </div>
        </div>
        <hr class="beta-hr">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="why-use-content">
                    <?js= render.renderTemplate('main-example-2') ?>
                </div>
            </div>
        </div>
        <hr class="beta-hr">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="why-use-content">
                    <?js= render.renderTemplate('main-example-3') ?>
                </div>
            </div>
        </div>
        <hr class="beta-hr">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="why-use-content">
                    <?js= render.renderTemplate('main-example-4') ?>
                </div>
            </div>
        </div>
        <hr class="beta-hr">
    </div>
</section>
