<section class="why-use">
    <div class="container">
        <h1 class="sub-heading">Why use <span class="beta">Beta</span><span class="js">JS</span></h1>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <article class="text-center col-3-widget">
                    <figure>
                        <img src="assets/img/<?js= this.custom.strings.main.benefit1.image ?>">
                    </figure>
                    <h3><?js= this.custom.strings.main.benefit1.heading ?></h3>
                    <p><?js= this.custom.strings.main.benefit1.body ?></p>
                </article>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <article class="text-center col-3-widget">
                    <figure>
                        <img class="open_eye" src="assets/img/<?js= this.custom.strings.main.benefit2.image ?>">
                    </figure>
                    <h3><?js= this.custom.strings.main.benefit2.heading ?></h3>
                    <p><?js= this.custom.strings.main.benefit2.body ?></p>
                </article>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <article class="text-center col-3-widget">
                    <figure>
                        <img src="assets/img/<?js= this.custom.strings.main.benefit3.image ?>">
                    </figure>
                    <h3><?js= this.custom.strings.main.benefit3.heading ?></h3>
                    <p><?js= this.custom.strings.main.benefit3.body ?></p>
                </article>
            </div>
        </div>
    </div>
</section>
