<div class="content-wraper">
    <section class="guides">
        <div class="container">
            <div class="row">            
                <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">
                 <div data-spy="affix" class="guide_left_wrapper">
                    <div class="guide_left">
                       	<?js= render.renderTemplate('tutorials-toc', {tutorials: tutorials}) ?>
                    </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-8 col-sm-12 guides-section">
                	<?js= render.renderTemplate('tutorials-overview') ?>
                    <?js= render.renderTemplate('tutorials-content', {tutorials: tutorials}) ?>
				</div>
            </div>
        </div>
    </section>
</div>